.todo {
    border: 2px solid black;
    width: 22vw;
    height: 40vh;
    background-color: rgb(188, 241, 245);
  
    display: flex;
    margin: 2px;
    padding: 3px;
    font-size: 5px sans-serif;
    flex-direction: column;
    justify-content: "space-between";
    align-items: center;
    
}
.buttons{
    justify-content: "space-between";
    display: flex;
}
#checked{
    width: 2vw;
    height: 2vw;
    margin: 1vh;
}